footer.container.py-5
    .row
        .col-mod-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                 
        .col 
            p.text-center.text-md-right 
            | Derechos Reservados 
            span=tiempo 

